*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    flex-wrap: wrap;
    border: solid 1px;
    margin: 0.6rem;
    gap: 2rem;
    padding: 0.5rem;
}

.section-wrapper{
    display: flex;
    flex-direction: column;
    width: 45%;
    max-width: 400px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
    margin-bottom: 0.8rem;
    background-color: ghostwhite;
    padding: 0.7rem;
    border-radius: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

h3{
    text-align: center;
    margin-bottom: 0.5rem;
    color: #5f015f;
}

label{
    color: darkmagenta;
    margin-left: 0.2rem;
}

textarea{
    resize: none;
}

input, textarea{
    margin-bottom: 0.5rem;
    padding: 0.4rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;   
}

input:focus, textarea{
    border: 1.8px solid indigo;
    outline: none;
}

.buttons-wrapper{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: baseline;
}


.btn-submit, .btn-cancel, .btn-edit{
    width: 130px;
    border: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
    padding: 0.6rem;
    text-align: center;
}

.btn-cancel{
    border: 2px solid darkred;
    background-color: #fff;
    color: darkred;
}

.btn-edit{
    border: 2px solid darkgreen;
    background-color: #fff;
}

.btn-edit, .btn-cancel{
    font-weight: bolder;
}

.btn-submit{
    background-color: darkgreen;
    color: #fff;
    padding: 0.7rem;
}

.cv-wrapper{
    width: 45%;
    padding: 1rem;
    margin: 0 auto;
}

.cv{
    border: solid 2px darkmagenta;
}

header{
    background-color: rgb(94, 2, 94);
    color: #fff;
    width: 100%;
    padding: 0.7rem;
    text-align: center;
}

header > *{
    margin-bottom: 0.9rem;
}

span{
    margin-right: 0.9rem;
}

h2{
    text-align: center;
}

section{
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.section-title{
    background-color: #c092c0;
    padding: 0.4rem;
    margin-bottom: 1rem;
}
